<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h3>Listings Details:</h3>
   <ul>
    <li><%=post.title%></li>
    <li><%=post.description%></li>
    <li>&#8377; <%=post.price%></li>
    <li><%=post.location%></li>
    <li><%=post.country%></li>
   </ul>
</body>
</html>